In [2]:
!python --version

Python 3.12.5

In [3]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysql-connector-python in c:\users\marmi\appdata\roaming\python\python312\site-packages (9.1.0)

In [15]:
import mysql.connector

In [16]:
db = mysql.connector.connect(host = "localhost" , user = "root" , passwd = "Sqlroot@9990")

In [17]:
# Cursor  
curs = db.cursor()

In [18]:
# For Fetching all the databases
curs.execute("Show Databases")
for i in curs:
    print(i)

('assign2',)
('assign3',)
('assignment',)
('demo',)
('dept',)
('emp',)
('exam_q5',)
('information_schema',)
('javadb',)
('lab2',)
('labwork',)
('mysql',)
('performance_schema',)
('practice',)
('pythondb',)
('question3',)
('sys',)

In [19]:
# To use exisiting Database
curs.execute("Use Pythondb")

In [11]:
# Creatating a Table in Database
curs.execute(" Create Table Company(EmpId INT NOT NULL PRIMARY KEY AUTO_INCREMENT ,EmpName Varchar(25) NOT NULL,Department Varchar(25) NOT NULL,Salary Varchar(25) NOT NULL)")

In [20]:
# Fetching the Details of Created Table
curs.execute("desc Company")
# Print the Table Details
for i in curs:
    print(i)

('EmpId', 'int', 'NO', 'PRI', None, 'auto_increment')
('EmpName', 'varchar(25)', 'NO', '', None, '')
('Department', 'varchar(25)', 'NO', '', None, '')
('Salary', 'varchar(25)', 'NO', '', None, '')

In [23]:
# Insert Multi Row Value into the Table
company_insert = ("INSERT INTO Company(EmpName , Department , Salary) Values(%s,%s,%s)")

data = [("Vani", "HR", "100000"), ("Krish", "Accounts", "60000"), ("Aishwarya", "Sales", "25000"),  ("Govind", "Marketing", "40000")]
curs.executemany(company_insert, data)
db.commit()

In [29]:
# Fetch all the Table Content
company_select = ("Select * from Company")
curs.execute(company_select)
company_data = curs.fetchall()
for n in company_data:
    print(n)

(1, 'Vani', 'HR', '150000')
(2, 'Krish', 'Accounts', '60000')
(4, 'Govind', 'Marketing', '40000')

In [26]:
# Update Data in the table
company_update = ("Update Company SET salary = '150000' Where EmpId = 1")
curs.execute(company_update)
db.commit()

In [28]:
# Delete Statement 
company_delete = ("Delete From Company Where EmpId = 3")
curs.execute(company_delete)
db.commit()

In [30]:
db.close()