In [15]:
# Scripting Operations

In [16]:
import pandas as pd

In [23]:
data = pd.read_csv('C:\\Users\\marmi\\OneDrive\\Documents\\cars_data.csv')
print(data)

     Car_ID      Brand        Model  Year  Price
0         1  Chevrolet        Sedan  2005  58990
1         2    Hyundai        Sedan  2004  45070
2         3    Hyundai          Van  2008  36374
3         4        Kia    Hatchback  2004  54775
4         5        BMW  Convertible  2021  43442
..      ...        ...          ...   ...    ...
495     496        BMW          Van  2002  38990
496     497   Mercedes  Convertible  2001  44615
497     498      Honda        Coupe  2023  11424
498     499     Toyota    Hatchback  2007   9461
499     500      Mazda        Wagon  2022  54415

[500 rows x 5 columns]

In [21]:
short_data = data.head()
print(short_data)

   Car_ID      Brand        Model  Year  Price
0       1  Chevrolet        Sedan  2005  58990
1       2    Hyundai        Sedan  2004  45070
2       3    Hyundai          Van  2008  36374
3       4        Kia    Hatchback  2004  54775
4       5        BMW  Convertible  2021  43442

In [33]:
data.from_csv ('C:\\Users\\marmi\\OneDrive\\Documents\\cars_data.csv', sep=',' ,  parse_dates=True, header=None, index_col=0,
encoding=None, infer_datetime_format=False)

AttributeError: 'DataFrame' object has no attribute 'from_csv'